{% extends 'base_templates.html' %}
{% block title %}ImageLoader - {{ image.filename }}{% endblock %}

{% load static %}
{% block content %}
    <div>
        <a href="{% url 'home_page' %}">Назад к списку</a>
        <h1>{{ image.filename }}</h1>
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Отправить">
            </form>
        </div>
        <br>
        <img src="{{ image.file.url }}" alt="Image">
    </div>
{% endblock %}