{% extends 'base_templates.html' %}
{% block title %}ImageLoader - {{ image.filename }}{% endblock %}

{% load static %}
{% load image_handler %}
{% block content %}
    <div>
        <a href="{% url 'home_page' %}">Назад к списку</a>
        <h1>{{ image.filename }}</h1>
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Отправить">
            </form>
        </div>
        <br>
        {% get_image_url image.id as image_url %}
        <img src="{{ image_url }}" alt="Image">
    </div>
{% endblock %}